{{- $gitName := promptString "git user.name" (index . "gitName" | default "") -}}
{{- $gitEmail := promptString "git user.email" (index . "gitEmail" | default "") -}}
[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
