#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
set -eufo pipefail

# packages hash: {{ .packages | toJson | sha256sum }}

{{ $pkgs := list -}}
{{ range $name, $mgrs := .packages -}}
  {{ if hasKey $mgrs "aur" -}}
    {{ $pkgs = append $pkgs $mgrs.aur -}}
  {{ end -}}
{{ end -}}

if ! command -v paru >/dev/null 2>&1; then
  echo "Installing paru..."
  if sudo pacman -S --needed --noconfirm paru; then
    true
  else
    sudo pacman -S --needed --noconfirm git base-devel
    tmpdir=$(mktemp -d)
    git clone https://aur.archlinux.org/paru.git "$tmpdir/paru"
    (cd "$tmpdir/paru" && makepkg -si --noconfirm)
    rm -rf "$tmpdir"
  fi
fi

AUR_PACKAGES=({{ $pkgs | join " " }})
{{ if $pkgs -}}
paru -S --needed --noconfirm "${AUR_PACKAGES[@]}"
{{ end -}}
{{ end -}}
